body {
  padding: 20px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {box-sizing: border-box;}

p {
  margin: 0 0 1em 0;
}
button{
  margin: 1px;
  border-radius: 25px;
  border: solid rgb(255, 255, 255);
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}
.numeroPoke{
  text-align: left;
  font-size: 30px;
}
.container {
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#containerPokemon {
  width: 400px;
  height: 200px;
  padding: 10px;
  background-color: rgba(111,41,97,.3);
  border-radius: 25px;
}
#imagemPoke{
  max-width: 200px;
  max-height: 150px;
}
.imagemPoke{
  float: right;
}
#span{
  height: 50px;
}

.tipo1Poke {
  margin: 5px;
  width: 100px;
  border: 2px solid rgba(111,41,97,.5);
  border-radius: 25px;
  align-items: center;
}

.tipo2Poke {
  margin: 5px;
  width: 100px;
  border: 2px solid rgba(111,41,97,.5);
  border-radius: 25px;
}
#textoTipo {
  font-size: 21px;
  text-align: center;
}
#tiposPaginaPoke {
  display: flex;
}
#imagemPaginaPoke {
  float: right;
}
.clearfix {
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  background-image: url(../assets/img/overlay.png);
  background-repeat: no-repeat, repeat;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.containerPaginaPoke {
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  margin: 100px;
}
.contemOverlay {
  background-image: url(../assets/img/overlay.png);
  background-repeat: no-repeat, repeat;
}
#overlay {
  display: block;
  margin-left: auto;
  margin-right: auto;
}